body {
    background-color: cadetblue;
    margin: 0;
}

.navbar {
  background-color: rgb(71, 119, 121);
  padding: 20px 0; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar ul {
  list-style: none;
  margin: 0; 
  padding: 0 20px; 
  display: flex;
  justify-content: flex-end; 
  gap: 20px; 
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 8px;
}

.navbar ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}
