body {
  background-color: cadetblue;
  margin: 0;
  padding-top: 70px; 
  font-family: 'Zalando Sans Expanded', sans-serif;
}

.navbar {
  background-color: rgb(71, 119, 121);
  padding: 20px 0; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 3px solid black; 
  box-sizing: border-box; 
  z-index: 1000;
  font-family: 'Zalando Sans Expanded', sans-serif; 
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 8px;
  font-family: 'Zalando Sans Expanded', sans-serif; 
}

.navbar ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}
