body {
    background-color: cadetblue;
}

.navbar {
  background-color: rgb(71, 119, 121);   
  padding: 15px;           
  position: fixed;           
  top: 0;
  left: 0;
  width: 100%;             
}

.navbar ul {
  list-style: none;          
  margin: 40px;
  padding: 0;
  display: flex;            
  justify-content: flex-end;
}

.navbar ul li a {
  color: white;           
  text-decoration: none;     
  font-size: 18px;
  padding: 8px 10px;
}

.navbar ul li a:hover {
  background-color: #555;    
  border-radius: 5px;
}
